.article {
  width: 1100px;
  margin: 50px auto 100px;
}
.article h1 {
  margin-top: 20px;
  line-height: 2em;
  font-size: 16px;
}
.article p {
  font-size: 12px;
  line-height: 1.2em;
}
.article ol {
  font-size: 12px;
  line-height: 1.2em;
}
.article > ol > li {
  margin-bottom: 20px;
  counter-increment: headers;
  counter-reset: subsections;
}
.article > ol > li:before {
  content: counter(headers,decimal) ".";
  display: inline-block;
  margin-right: 10px;
}
.article > ol > li > ol {
  margin-top: 5px;
}
.article > ol > li > ol > li {
  counter-increment: subsections;
  counter-reset: subsections_sub;
}
.article > ol > li > ol > li:before {
  content: counter(headers,decimal) "." counter(subsections,decimal);
  display: inline-block;
  min-width: 20px;
  margin-right: 5px;
}
.article > ol > li > ol > li li {
  counter-increment: subsections_sub;
}
.article > ol > li > ol > li li:before {
  content: "(" counter(subsections_sub,lower-alpha) ")";
  display: inline-block;
  min-width: 20px;
  margin-right: 5px;
}
