html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.header .container, .nav_lv0, .footer .container {
  width: 1100px;
  margin: 0 auto;
}

.good-sprite, .good-u1, .good-u2, .good-u3, .good-u4, .good-u5 {
  background-image: url('../images/good-s239fd9cfcd.png');
  background-repeat: no-repeat;
}

.good-u1 {
  background-position: 0 0;
}
.good-u1:active, .good-u1.u1-active {
  background-position: 0 -16px;
}

.good-u2 {
  background-position: 0 -32px;
}
.good-u2:active, .good-u2.u2-active {
  background-position: 0 -48px;
}

.good-u3 {
  background-position: 0 -64px;
}
.good-u3:active, .good-u3.u3-active {
  background-position: 0 -80px;
}

.good-u4 {
  background-position: 0 -96px;
}
.good-u4:active, .good-u4.u4-active {
  background-position: 0 -112px;
}

.good-u5 {
  background-position: 0 -128px;
}
.good-u5:active, .good-u5.u5-active {
  background-position: 0 -144px;
}

.icon-sprite, .icon-help, .icon-report, .icon-reviews, .icon-vote, .icon-votings {
  background-image: url('../images/icon-s8afbce0e07.png');
  background-repeat: no-repeat;
}

.icon-help {
  background-position: 0 0;
}

.icon-report {
  background-position: 0 -16px;
}
.icon-report:hover, .icon-report.report-hover {
  background-position: 0 -32px;
}

.icon-reviews {
  background-position: 0 -48px;
}

.icon-vote {
  background-position: 0 -64px;
}
.icon-vote:hover, .icon-vote.vote-hover {
  background-position: 0 -80px;
}

.icon-votings {
  background-position: 0 -96px;
}

.store-sprite, .store-link1, .store-link2 {
  background-image: url('../images/store-s26da13acf2.png');
  background-repeat: no-repeat;
}

.store-link1 {
  background-position: 0 0;
  height: 50px;
  width: 160px;
}

.store-link2 {
  background-position: 0 -50px;
  height: 50px;
  width: 160px;
}

.hot-sprite, .hot-link1, .hot-link2, .hot-link3 {
  background-image: url('../images/hot-sdd0af7a406.png');
  background-repeat: no-repeat;
}

.hot-link1 {
  background-position: 0 0;
  height: 20px;
  width: 20px;
}

.hot-link2 {
  background-position: 0 -20px;
  height: 20px;
  width: 20px;
}

.hot-link3 {
  background-position: 0 -40px;
  height: 20px;
  width: 20px;
}

.header {
  background: #333F4F;
}
.header .container {
  padding: 40px 0 40px;
  *zoom: 1;
}
.header .container:after {
  content: "";
  display: table;
  clear: both;
}
.header .container .logo {
  float: left;
  margin-right: 60px;
}
.header .container .search {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}
.header .login {
  float: right;
  padding-top: 10px;
  text-align: right;
}
.header .login li {
  display: inline-block;
  padding: 0 10px;
}
.header .login li + li {
  border-left: 1px solid #ACC7FD;
}
.header .login li a {
  font-size: 12px;
  text-decoration: none;
  color: #ACC7FD;
}
.header .login li a:hover {
  color: #fff;
}
.header .login p {
  text-align: left;
  padding: 0 10px;
}
.header .login p a {
  font-size: 10px;
  color: #ccc;
}

.search input {
  float: left;
  width: 240px;
  height: 33px;
  padding: 0 5px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #22A0D8;
  border-right: none;
  outline: none;
}
.search .search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 0 8px 8px 0;
  border: 1px solid #22A0D8;
  border-left: none;
  outline: none;
  background: #fff url("../images/bg_serch.png") no-repeat center;
  background-size: 24px 24px;
  cursor: pointer;
}

.nav {
  background: #AFCAFD;
}
.nav a {
  text-decoration: none;
}

.nav_lv0 {
  padding-left: 100px;
  box-sizing: border-box;
}
.nav_lv0 .lv0_item {
  position: relative;
  display: inline-block;
}
.nav_lv0 .lv0_item > a {
  display: block;
  width: 150px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #333F50;
}
.nav_lv0 .lv0_item:hover .nav_lv1 {
  display: block;
}
.nav_lv0 .lv0_item:hover > a {
  color: #fff;
}
.nav_lv0 div {
  float: right;
}
.nav_lv0 div a {
  display: block;
  line-height: 50px;
  color: #fff;
}

.nav_lv1 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  border: 1px solid #AFCAFD;
  border-top: none;
  background: #fff;
}
.nav_lv1 li {
  position: relative;
  height: 30px;
}
.nav_lv1 li a {
  display: block;
  height: 100%;
  padding: 10px 0 10px 5px;
  font-size: 12px;
  color: #666;
}
.nav_lv1 li:hover .nav_lv2 {
  display: block;
}
.nav_lv1 li:hover > a {
  color: #AFCAFD;
}

.nav_lv2 {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  margin-top: -1px;
  border: 1px solid #AFCAFD;
  background: #fff;
}

.footer {
  background: #333F4F;
  clear: both;
}
.footer .store {
  float: right;
}
.footer .store a {
  display: block;
  margin-bottom: 10px;
}
.footer .container {
  position: relative;
  padding: 30px 0;
  *zoom: 1;
}
.footer .container:after {
  content: "";
  display: table;
  clear: both;
}
.footer dl {
  float: left;
  width: 120px;
  margin-right: 120px;
}
.footer dl dt {
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
}
.footer dl dt:hover {
  font-weight: normal;
}
.footer dl dd {
  line-height: 1.1em;
}
.footer dl dd a {
  font-size: 10px;
  text-decoration: none;
  color: #A7C2F6;
}
.footer .hot_link {
  margin-top: 10px;
}
.footer .hot_link a {
  display: inline-block;
  margin-right: 5px;
}
.footer .foot_right {
  position: relative;
  padding-top: 15px;
  font-size: 10px;
  color: #A7C2F6;
  clear: both;
}
.footer .foot_right div {
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer .foot_right div img {
  position: absolute;
  left: 0;
  top: -45px;
}
.footer .foot_right p {
  text-align: center;
}
.footer .foot_right p a {
  margin: 0 20px;
  text-decoration: none;
  color: inherit;
}
.footer .foot_right p a:hover {
  color: #fff;
}

body {
  min-width: 1100px;
}

.star {
  display: inline-block;
  width: 79px;
  height: 14px;
  margin-right: 5px;
  vertical-align: bottom;
  background: url(../images/star.png) no-repeat;
  background-position: 0 -16px;
}
.star b {
  float: left;
  display: block;
  height: 14px;
  background: url(../images/star.png) no-repeat;
  background-position: 0 0;
}

.star1 b {
  width: 16px;
}

.big_star1 b {
  width: 25px;
}

.blue_star1 b {
  width: 19px;
}

.star2 b {
  width: 32px;
}

.big_star2 b {
  width: 50px;
}

.blue_star2 b {
  width: 38px;
}

.star3 b {
  width: 48px;
}

.big_star3 b {
  width: 75px;
}

.blue_star3 b {
  width: 57px;
}

.star4 b {
  width: 64px;
}

.big_star4 b {
  width: 100px;
}

.blue_star4 b {
  width: 76px;
}

.star5 b {
  width: 80px;
}

.big_star5 b {
  width: 125px;
}

.blue_star5 b {
  width: 95px;
}

.big_star {
  display: inline-block;
  width: 122px;
  height: 20px;
  background: url(../images/big_star01.png);
}
.big_star b {
  float: left;
  display: block;
  height: 20px;
  background: url(../images/big_star02.png);
}

.blue_star {
  display: inline-block;
  width: 93px;
  height: 17px;
  background: url(../images/blue_small01.png);
}
.blue_star b {
  float: left;
  display: block;
  height: 17px;
  background: url(../images/blue_small02.png);
}

.link_button {
  display: block;
  width: 285px;
  height: 30px;
  border: 1px solid #999;
  background: #fff;
  outline: none;
  cursor: pointer;
}

.pagenumber {
  float: right;
  margin: 40px 0;
  *zoom: 1;
}
.pagenumber:after {
  content: "";
  display: table;
  clear: both;
}
.pagenumber li {
  display: inline-block;
  margin-left: 8px;
}
.pagenumber li a {
  display: block;
  text-align: center;
  padding: 0 10px;
  border: 1px solid #999;
  font-size: 12px;
  line-height: 25px;
  text-decoration: none;
  color: #666;
}
.pagenumber li a.active, .pagenumber li a:hover {
  background: #AFCAFD;
}
