.ditu {
  width: 1100px;
  margin: 0 auto;
  *zoom: 1;
}
.ditu:after {
  content: "";
  display: table;
  clear: both;
}

.ditu_container .ditu_list {
  padding-top: 10px;
  line-height: 30px;
  font-size: 12px;
}
.ditu_container .ditu_list dt {
  float: left;
  width: 80px;
  margin-right: 40px;
  color: #999;
}
.ditu_container .ditu_list dd {
  overflow: hidden;
}
.ditu_container .ditu_list dd a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}
.ditu_container .ditu_list dd a:hover {
  color: #AFCAFD;
}
.ditu_container .ditu_list dd span {
  float: right;
  cursor: pointer;
}
.ditu_container .ditu_show {
  position: relative;
  border: 1px solid #cdcdcd;
  overflow: hidden;
}
.ditu_container .ditu_show a {
  position: absolute;
  right: 20px;
  top: 10px;
}
.ditu_container .ditu_show p {
  position: relative;
  float: right;
  padding-left: 5px;
  text-align: left;
  line-height: 1.2em;
}
.ditu_container .ditu_show p span {
  position: absolute;
  right: 100%;
  color: #AFCAFD;
}
.ditu_container .ditu_show h2 {
  padding: 15px 0 0 30px;
  margin-bottom: 10px;
}
.ditu_container .ditu_show .select {
  padding-left: 30px;
  margin-bottom: 20px;
  line-height: 20px;
}
.ditu_container .ditu_show .select label {
  margin-right: 24px;
  display: inline-block;
  font-size: 12px;
}
.ditu_container .ditu_show .select input {
  float: left;
}
.ditu_container .ditu_box {
  background: #ccc;
}

.home .ditu_show {
  margin-top: 30px;
}
.home .ditu_show p {
  margin-right: 130px;
  margin-top: 20px;
  font-size: 12px;
}
.home .ditu_box {
  height: 400px;
}

.listpage {
  margin-bottom: 20px;
}
.listpage .ditu_list {
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px dashed #999;
}
.listpage .ditu_list:last-of-type {
  border: none;
}
.listpage .ditu_list:last-of-type a {
  margin: 0 5px;
  padding: 5px 10px;
  min-width: 40px;
  border: 1px solid #AFCAFD;
  text-align: center;
  line-height: 1;
}
.listpage .ditu_list dt {
  margin-right: 20px;
}
.listpage .ditu_show {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  width: 408px;
  height: 277px;
}
.listpage .ditu_show p {
  margin-top: 10px;
  margin-right: 65px;
  font-size: 10px;
}
.listpage .ditu_show h2 {
  height: 30px;
  padding: 10px 0 0 10px;
  font-size: 14px;
}
.listpage .ditu_show a {
  width: 44px;
}
.listpage .ditu_show a img {
  width: 100%;
}
.listpage .ditu_show .ditu_box {
  height: 227px;
}
.listpage .subnav {
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #999;
}
.listpage .subnav li {
  display: inline-block;
  line-height: 24px;
  border: 1px solid #AFCAFD;
}
.listpage .subnav li.active span {
  float: right;
  height: 24px;
  width: 20px;
  border-left: 1px solid #AFCAFD;
  text-align: center;
  background: #fff;
  color: #AFCAFD;
  cursor: pointer;
}
.listpage .subnav a {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

.good-sprite, .good-u1, .good-u2, .good-u3, .good-u4, .good-u5 {
  background-image: url('../images/good-s091a56d4ee.png');
  background-repeat: no-repeat;
}

.good-u1 {
  background-position: 0 0;
}

.good-u2 {
  background-position: 0 -16px;
}

.good-u3 {
  background-position: 0 -32px;
}

.good-u4 {
  background-position: 0 -48px;
}

.good-u5 {
  background-position: 0 -64px;
}

.vertical_list {
  width: 1100px;
  margin: 0 auto;
}
.vertical_list .list_container > li {
  position: relative;
  height: 120px;
  padding: 30px 0 30px 320px;
  border-top: 1px solid #999;
}
.vertical_list .list_container > li img {
  position: absolute;
  left: 0;
}
.vertical_list .list_container h2 {
  font-size: 14px;
}
.vertical_list .list_container ul {
  width: 600px;
  line-height: 30px;
  *zoom: 1;
  border-bottom: 1px dotted #999;
  font-size: 12px;
}
.vertical_list .list_container ul:after {
  content: "";
  display: table;
  clear: both;
}
.vertical_list .list_container ul li {
  float: left;
  margin-right: 20px;
}
.vertical_list .list_container ul label {
  color: #AFCAFD;
}
.vertical_list .list_container ul .star {
  margin-left: 10px;
  vertical-align: middle;
}
.vertical_list .list_container dl {
  margin-top: 5px;
  line-height: 1.2em;
  font-size: 12px;
}
.vertical_list .list_container dl label {
  color: #AFCAFD;
}

.msg_list {
  position: relative;
  width: 680px;
  border-bottom: 1px solid #999;
  padding-bottom: 35px;
}
.msg_list h1 {
  padding: 20px 0 10px;
  font-size: 18px;
  font-weight: bold;
}
.msg_list h2 {
  margin-bottom: 10px;
  font-size: 12px;
}
.msg_list .other {
  position: absolute;
  right: 0;
  top: 20px;
  width: 120px;
}
.msg_list .other button {
  position: relative;
  width: 100%;
  border: 1px solid #eee;
  text-align: left;
  background: #fff;
  cursor: pointer;
  outline: none;
}
.msg_list .other button:hover ul {
  display: block;
}
.msg_list .other ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  padding-top: 10px;
  border: 1px solid #999;
  background: #fff;
}
.msg_list .other ul li {
  padding: 0px 0 10px 5px;
}
.msg_list .other ul li:hover {
  color: #AFCAFD;
}
.msg_list li {
  font-size: 12px;
  line-height: 1.5em;
}
.msg_list li label {
  float: left;
  min-width: 75px;
  color: #AFCAFD;
}

.data_list dl {
  float: left;
  font-size: 12px;
}
.data_list dl:last-of-type {
  margin-left: 150px;
}
.data_list dl dt {
  margin-bottom: 10px;
}
.data_list dl dd {
  line-height: 16px;
  margin-bottom: 2px;
}
.data_list .data_list_01 {
  margin-right: 40px;
}
.data_list .data_list_01 label {
  float: left;
  min-width: 66px;
}
.data_list .data_list_01 dd {
  *zoom: 1;
}
.data_list .data_list_01 dd:after {
  content: "";
  display: table;
  clear: both;
}
.data_list .data_list_01 .progress_box {
  float: left;
  width: 250px;
}
.data_list .data_list_01 .progress_box div {
  float: left;
  height: 16px;
  background: #AFCAFD;
}
.data_list .data_list_01 .progress_box span {
  position: absolute;
}
.data_list .data_list_02 label {
  float: left;
  padding-left: 20px;
  min-width: 80px;
  color: #AFCAFD;
}
.data_list .data_list_02 dd:hover {
  color: #AFCAFD;
}
.data_list .data_list_03 label {
  float: left;
  min-width: 100px;
  color: #AFCAFD;
}
.data_list .data_list_03 .blue_star {
  margin-right: 5px;
  vertical-align: bottom;
}
.data_list p {
  clear: both;
  line-height: 20px;
}
.data_list p.star_lv {
  padding: 10px 0;
}
.data_list p.star_lv .big_star {
  vertical-align: text-bottom;
  margin-right: 15px;
}
.data_list p.pingfen .star_box {
  display: inline-block;
  margin: 0 10px;
}
.data_list p.pingfen .star_box b {
  display: inline-block;
  width: 22px;
  height: 20px;
  padding-right: 2px;
  vertical-align: bottom;
  background: url(../images/pingfen-star.png) no-repeat;
  cursor: pointer;
}
.data_list p.pingfen .star_box b.active {
  background-position: 0 -23px;
}

/*# sourceMappingURL=listpage.css.map */
