.sigin h1 {
  margin-top: 50px;
  font-size: 20px;
}

.sigin {
  width: 380px;
  min-height: 500px;
  margin: 0 auto;
}
.sigin .sigin_in {
  margin-top: 100px;
}
.sigin .sigin_up {
  margin-top: 50px;
}
.sigin ul li {
  *zoom: 1;
  padding-bottom: 10px;
}
.sigin ul li:after {
  content: "";
  display: table;
  clear: both;
}
.sigin ul li:last-child {
  margin-top: 20px;
}
.sigin ul li p {
  position: relative;
  margin-left: 30%;
}
.sigin ul li p input {
  width: 100%;
  box-sizing: border-box;
}
.sigin ul li p input[type=checkbox] {
  width: auto;
}
.sigin ul li p .forget {
  line-height: 30px;
  font-size: 10px;
  text-decoration: none;
}
.sigin ul li p .sign_btn {
  width: 100px;
  padding: 0;
  line-height: 30px;
  border: none;
  background: #333F4F;
  color: #fff;
  text-align: center;
}
.sigin ul li p .no_number {
  margin-left: 20px;
  font-size: 10px;
  line-height: 30px;
  text-decoration: none;
}
.sigin ul li p span {
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 5px;
  line-height: 30px;
  color: red;
  white-space: nowrap;
}
.sigin ul li p select {
  width: 100%;
}
.sigin ul li .title {
  float: left;
  width: 30%;
  font-size: 10px;
}
.sigin ul li .remember {
  position: relative;
  display: block;
  padding-left: 30px;
  line-height: 18px;
  font-size: 10px;
}
.sigin ul li .remember input[type=checkbox] {
  position: absolute;
  left: 0;
}
