.content_list {
    @extend %center;
    border-top: 1px solid #CDCDCD;
    clear: both;
    ul {
        @include pie-clearfix;
        h2 {
            padding: 20px 0 10px;
        }
    }
    li {
        float: left;
        width: 249px;
        margin-right: 34px;
        background: #F7F7F7;
        &:nth-of-type(4n) {
            margin-right: 0;
        }
        &:hover {
            box-shadow: 2px 2px 5px #999;
        }
        img {
            vertical-align: top;
        }
        dl {
            padding: 15px 10px;
            dt {
                line-height: 25px;
                font-size: 14px;
            }
            dd {
                font-size: 12px;
                line-height: 1.2em;
                color: $navcolor;
                label {
                    color: #666;
                }
                a {
                    display: inline-block;
                    width: 10px;
                    height: 14px;
                    margin-left: 5px;
                    vertical-align: middle;
                    background: url(../images/u600.png) no-repeat;
                    cursor: pointer;
                }
            }
        }
    }
    div {
        padding-left: 10px;
        margin-bottom: 15px;
        font-size: 12px;
        color: #999;
    }
    .link_button {
        margin: 50px auto;
    }
}
