header{
	background: $blue;
	.container{
		// height: 140px;
		width: $boxwd;
		margin: 0 auto;		
		padding: 40px 0 40px;
		@include pie-clearfix;
		.logo{
			float: left;
			margin-right: 60px;
		}
		.search{
			float: left;
			margin-top: 10px;
			margin-right: 5px;
			input{
				float: left;
				width: 240px;
				height: 33px;
				padding: 0 5px;
				border-radius: 8px 0 0 8px;
				border: 1px solid #22A0D8;
				border-right: none;
				outline: none;
			}
			button{
				width: 35px;
				height: 35px;
				padding: 0;
				border-radius: 0 8px 8px 0;
				border: 1px solid #22A0D8;
				border-left: none;
				outline: none;
				background: #fff url("../images/bg_serch.png") no-repeat center;
				background-size: 24px 24px;
				cursor: pointer;
			}
		}
	}
	ul{
		float: right;
		padding-top: 10px;
		text-align: right;
		li{
			display: inline-block;
			padding: 0 10px;
			& + li{
				border-left: 1px solid #ACC7FD;
			}
			a{
				font-size: 12px;
				text-decoration: none;
				color: #ACC7FD;
				&:hover{
					color: #fff;
				}
			}
		}
		p{
			text-align: left;
			padding: 0 10px;
			a{
				font-size: 10px;
				color:#ccc;
			}
		}
	}
}