@import "compass/utilities";
@import "compass/reset";
@import "argument";
@import "sprite";
// 页头
@import "header";
// 导航
@import "nav";
// 页脚
@import "footer";
body{
    min-width: 1100px;
}
// 星星样式
.star {
    display: inline-block;
    width: 79px;
    height: 14px;
    margin-right: 5px;
    vertical-align: bottom; 
    background: url(../images/star.png) no-repeat; 
    background-position: 0 -16px; 
    b {
        float: left;
        display: block;
        height: 14px;
        background: url(../images/star.png) no-repeat; 
        background-position: 0 0;
    }
}

@for $i from 1 through 5 {
    .star#{$i} {
        b {
            width: 16px*$i;
        }
    }
    .big_star#{$i}{
        b{
            width: 25px*$i;
        }
    }
    .blue_star#{$i}{
        b{
            width: 19px*$i;
        }
    }
}

.big_star {
    display: inline-block;
    width: 122px;
    height: 20px;
    background: url(../images/big_star01.png);
    b{
        float: left;
        display: block;
        height: 20px;
        background: url(../images/big_star02.png);
    }
}
.blue_star {
    display: inline-block;
    width: 93px;
    height: 17px;
    background: url(../images/blue_small01.png);
    b{
        float: left;
        display: block;
        height: 17px;
        background: url(../images/blue_small02.png);
    }
}

// 按钮
.link_button {
    display: block;
    width: 285px;
    height: 30px;
    border: 1px solid #999;
    background: #fff;
    outline: none;
    cursor: pointer;
}

// 页码
.pagenumber {
    float: right;
    margin: 40px 0;
    @include pie-clearfix;
    li {
        display: inline-block;
        margin-left: 8px;
        a {
            display: block;
            text-align: center;
            padding: 0 10px;
            border: 1px solid #999;
            font-size: 12px;
            line-height: 25px;
            text-decoration: none;
            color: #666;
            &.active,
            &:hover {
                background: $navcolor;
            }
        }
    }
}
