@import "compass/utilities";
@import "argument";
.sigin {
    width: 380px;
    min-height: 500px;
    margin: 0 auto;
    @extend %h1;
    .sigin_in {
        margin-top: 100px;
    }
    .sigin_up{
    	margin-top: 50px;
    }
    ul {
        li {
            @include pie-clearfix;
            padding-bottom: 10px;
            &:last-child {
                margin-top: 20px;
            }
            p {
                position: relative;
                margin-left: 30%;
                input {
                    width: 100%;
                    box-sizing: border-box;
                    &[type=checkbox] {
                        width: auto;
                    }
                }
                .forget {
                    line-height: 30px;
                    font-size: 10px;
                    text-decoration: none;
                }
                .sign_btn {
                    width: 100px;
                    padding: 0;
                    line-height: 30px;
                    border: none;
                    background: #333F4F;
                    color: #fff;
                    text-align: center;
                }
                .no_number {
                    margin-left: 20px;
                    font-size: 10px;
                    line-height: 30px;
                    text-decoration: none;
                }
                span {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    margin-left: 5px;
                    line-height: 30px;
                    color: red;
                    white-space: nowrap;
                }
                select {
                    width: 100%;
                }
            }
            .title {
                float: left;
                width: 30%;
                font-size: 10px;
            }
            .remember {
                position: relative;
                display: block;
                padding-left: 30px;
                line-height: 18px;
                font-size: 10px;
                input[type=checkbox] {
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}
